.custom-navbar {
  background-color: #0c4a6e !important; 
  .mat-mdc-button-persistent-ripple::before {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.mat-mdc-menu-panel {
  background-color: #0c4a6e !important;
}

.mat-mdc-menu-item:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
}